In [26]:
import pandas as pd
import seaborn as sns

eng_data = pd.read_csv("C:\\Users\hp\Desktop\AppProjects\PYTHON\CSV\energydata_complete.csv")
columns_labels = {'date':'Date and Time','Appliances':'Total Energy Used','lights':'Light Energy','T1':'Kitchen Temperature','RH_1':'Kitchen Humidity','T2':'Living Room Temperature','RH_2':'Living Room Humidity','T3':'Laundry Room Temperature','RH_3':'Laundry Room Humidity','T4':'Office Room Temperature','RH_4':'Office Room Humidity','T5':'Bathroom Temperature','RH_5':'Bathroom Humidity','T6':'Outside North Temperature','RH_6':'Outside North Humidity','T7':'Ironing Room Temperatue','RH_7':'Ironing Room Humidity','T8':'Teenagers Room Temperature','RH_8':'Teenagers Room Humidity','T9':'Parents Room Temperature','RH_9':'Parents Room Humidity','T_out':'CWS Temperature','Press_mm_hg':'CWS Pressure','RH_out':'CWS Humidity','Windspeed':'CWS Windspeed','Visibility':'CWS Visibility','Tdewpoint':'CWS TDewpoint','rv1':'Test1 Parameters','rv2':'Test2 Parameters'}
eng_data = eng_data.rename(columns=columns_labels)
eng_data

,Date and Time,Total Energy Used,Light Energy,Kitchen Temperature,Kitchen Humidity,Living Room Temperature,Living Room Humidity,Laundry Room Temperature,Laundry Room Humidity,Office Room Temperature,...,Parents Room Temperature,Parents Room Humidity,CWS Temperature,CWS Pressure,CWS Humidity,CWS Windspeed,CWS Visibility,CWS TDewpoint,Test1 Parameters,Test2 Parameters
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [27]:
eng_data.isnull().sum().sum()

0

In [28]:
(eng_data['Test1 Parameters'] != eng_data['Test2 Parameters']).sum()

0

In [29]:
#eng_data.drop(columns=['Test2 Parameters'], inplace=True)
column_name = {'Test1 Parameters':'Test Parameters'}
eng_data = eng_data.rename(columns=column_name)
eng_data

,Date and Time,Total Energy Used,Light Energy,Kitchen Temperature,Kitchen Humidity,Living Room Temperature,Living Room Humidity,Laundry Room Temperature,Laundry Room Humidity,Office Room Temperature,...,Parents Room Temperature,Parents Room Humidity,CWS Temperature,CWS Pressure,CWS Humidity,CWS Windspeed,CWS Visibility,CWS TDewpoint,Test Parameters,Test2 Parameters
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y_data = eng_data[['Outside North Temperature']]
x_data = eng_data[['Living Room Temperature']]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=1)
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

r_score = r2_score(y_test, predicted_values)
round(r_score,2)

0.65

In [31]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
eng_data2 = eng_data.drop(columns=['Date and Time','Light Energy','Total Energy Used'])
norm_data = pd.DataFrame(scaler.fit_transform(eng_data2),columns=eng_data2.columns)
target_data = eng_data['Total Energy Used']
x_train, x_test, y_train, y_test = train_test_split(norm_data, target_data, test_size=0.3, random_state=42)
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

compare = pd.DataFrame({'Actual values':y_test,'Predicted':predicted_values})
compare

       Actual values   Predicted
8980              40   45.547619
2754              90  271.204107
9132              50   46.380257
14359             50  122.753382
8875              70   34.995379
...              ...         ...
831              250  102.669436
10993             60   90.424654
11761             50   83.238363
12364            110  117.345882
11863             50   71.227520

[5921 rows x 2 columns]

In [32]:
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

53.64

In [33]:
import numpy as np
rss = np.sum(np.square(y_test-predicted_values))
round(rss, 2)

51918501.21

In [34]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse,3)

93.64

In [36]:
r_score = r2_score(y_test, predicted_values)
round(r_score,2)

0.15